:root.theme-dark {
  --page-background-color: var(--approximately-black);
  --accent-color: var(--real-red);
  --title-color: #db00ff;
  --header-text-background-color: var(--real-red);
  --header-text-color: var(--approximately-black);
  --question-background-color: var(--approximately-black);
  --answer-title-color: var(--approximately-black);
  --answer-text-background-color: var(--approximately-black);
  --question-color: var(--real-red);
  --answer-title-background-color: var(--real-red);
  --answer-text-color: #f1b2ce;
  --advice-title-background-color: var(--real-red);
  --advice-title-color: var(--approximately-black);
  --button-color: var(--real-red);
  --rec-color: var(--real-red);
  --border-color-opacity: #FF007066;
  --background-image: url("../images/cover-image-dark.png");
  --deco-color: var(--real-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background-color: var(--approximately-black);
    --accent-color: var(--real-red);
    --title-color: #db00ff;
    --header-text-background-color: var(--real-red);
    --header-text-color: var(--approximately-black);
    --question-background-color: var(--approximately-black);
    --question-color: var(--real-red);
    --answer-title-background-color: var(--real-red);
    --answer-title-color: var(--approximately-black);
    --answer-text-background-color: var(--approximately-black);
    --answer-text-color: #f1b2ce;
    --advice-title-background-color: var(--real-red);
    --advice-title-color: var(--approximately-black);
    --button-color: var(--real-red);
    --rec-color: var(--real-red);
    --border-color-opacity: #FF007066;
    --background-image: url("../images/cover-image-dark.png");
    --deco-color: var(--real-red);
  }
  .rec_empty::before {
    display: inline-block;
  }

  .rec_empty::after {
    display: inline-block;
  }
}

.theme-dark .rec_empty::before {
  display: inline-block;
}

.theme-dark .rec_empty::after {
  display: inline-block;
}