.page {
  background-color: var(--page-background-color);
  background-size: cover;
  font-family: var(--project-font-family);
  font-size: var(--regular-font-size);
  font-weight: bold;
  line-height: 1.3;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--decoration-gap) 0;
  min-height: 668px;
  height: 100vh;
  background-image: var(--background-image);
}

.main-title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.825;
  margin-left: var(--header-margin-left);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.footer-main-title {
  text-shadow: 2px 2px 0 var(--accent-color);
  height: 100%;
  display: flex;
  align-items: center;
}

.header-desc {
  background-color: var(--header-text-background-color);
  color: var(--header-text-color);
  margin: var(--decoration-gap);
  margin-left: auto;
  max-width: 50%;
  font-weight: bold;
  font-size: inherit;
}

.header-menu {
  justify-self: end;
  margin: auto var(--decoration-gap);
}

.header-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 4px 13px;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--button-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  border: none;
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.decor-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: var(--corner-thickness) solid var(--deco-color);
  border-right: var(--corner-thickness) solid var(--deco-color);
  top: var(--decoration-gap);
  right: var(--decoration-gap);
}

.decor-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-thickness) solid var(--deco-color);
  border-left: var(--corner-thickness) solid var(--deco-color);
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
}

.rec_empty {
  position: absolute;
  display: flex;
  justify-self: end;
  text-transform: uppercase;
  line-height: 25px;
  color: var(--accent-color);
  width: 10px;
  top: calc(var(--decoration-gap) - 10px);
  right: calc(var(--decoration-gap) + 10px);
}

.rec_empty::before {
  content: 'REC';
  margin-right: 15px;
  margin-top: 10px;
  color: var(--rec-color);
  font-weight: normal;
  display: none;
}

.rec_empty::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  margin-left: 42px;
  margin-top: 18px;
  box-shadow: 0 0 2px 2px var(--accent-color);
  display: none;
}

.main-content {
  margin-left: var(--decoration-gap);
  margin-right: var(--decoration-gap);
}

.content-block {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

.why-block {
  margin-top: var(--section-child-margin);
}

.what-block {
  margin-top: 50px;
}

.how-block {
  margin-top: 80px;
}

.main-advice-title {
  margin: 20px 0;
}

.gallery-block {
  margin-top: 50px;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery-item {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.block-question {
  font-size: var(--regular-font-size);
  line-height: 1.3;
  width: 100%;
  color: var(--question-color);
}

.card-title {
  background-color: var(--answer-title-background-color);
  color: var(--answer-title-color);
  font-size: inherit;
}

.card-text {
  color: var(--answer-text-color);
  font-weight: normal;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.advice-subtitle {
  background-color: var(--advice-title-background-color);
  color: var(--advice-title-color);
  font-size: var(--regular-font-size);
  line-height: 1.3;
  width: 100%;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.text-link:focus {
  outline: none;
}

.gallery-title {
  margin-bottom: 10px;
}

@media (width >= 768px) {
  .main-title {
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
  }

  .rec_empty {
    --rec_empty_x_pos: 35px;
  }

  .header {
    --min-height: 1024px;
    margin-bottom: 40px;
  }

  .footer {
    --min-height: 1024px;
  }

  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 20px;
    margin-top: 20px;
  }

  .gallery-item {
    margin: 0;
  }

  .sunset-img {
    grid-column: 1 / 3;
  }

  .ice-cream-img {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape-img {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books-img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street-img {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .header-desc {
    width: calc(50% - 20px);
    justify-self: right;
  }

  .what-question {
    grid-column: 1 / 3;
    width: 30%;
    margin-top: 30px;
  }

  .how-question {
    margin-top: 20px;
  }

  .why-block {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'why-question why-answers';
    gap: 0;
  }

  .what-block {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .how-block {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'how-question how-answers';
    gap: 20px;
    margin-top: 61px;
  }

  .gallery-block {
    margin-top: 78px;
  }

  .gallery-title {
    grid-column: 1 / 4;
    margin-bottom: 0;
  }

  .footer-main-title {
    justify-content: center;
    margin-top: 62px;
  }
}

@media (min-width: 1024px) {
  .rec_empty {
    --rec_empty_x_pos: 40px;
  }

  .header {
    --min-height: 768px;
    margin-block-end: 0;
    background: none;
  }

  .footer {
    --min-height: 768px;
    margin-top: 50px;
  }

  .main-title {
    margin-left: 0;
  }

  .decor-zone::after {
    bottom: 20px;
  }

  .why-block {
    margin-top: 40px;
    gap: 0;
  }

  .why-question {
    margin-top: 20px;
  }

  .why-answers {
    margin-top: 0;
  }

  .header-desc {
    margin-top: 20px;
  }

  .header-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: start;
  }

  .header-menu-list {
    grid-auto-flow: column;
  }

  .what-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "what-question ." "what-answers what-answers";
    gap: 10px;
    margin-top: 50px;
  }

  .what-answers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-area: what-answers;
    margin-top: 0;
  }

  .how-block {
    gap: 0;
  }

  .theme-light .main-title {
<<<<<<< HEAD
    text-shadow: 4px 4px 0 #ff0070;
  }

  .theme-light .footer-main-title {
    text-shadow: 2px 2px 0 #ff0070;
  }
=======
    text-shadow: 4px 4px 0 #ff0070; 
    
  }

  .theme-light .footer-main-title {
    text-shadow: 2px 2px 0 #ff0070; 
    
  }
  
>>>>>>> 1c1d2b31a8b5e44afcb19f1196289274e12f3675
}
