.page {
  background-attachment: fixed;
  font-family: var(--project-font-family);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--page-background-color);
  background-image: var(--background-image);
  background-size: cover;
}

.header {
  font: inherit;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  position: relative;
  align-items: center;
  grid-template-columns: 1fr;
  padding: var(--decoration-gap) 0;
}

.header-desc {
  font-size: inherit;
  font-weight: bold;
  margin: var(--decoration-gap);
  font: inherit;
  background-color: var(--header-text-background-color);
  color: var(--header-text-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  padding: 4px 13px;
  color: var(--button-color);
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  border: none;
  outline: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu {
  justify-self: end;
  margin: auto var(--decoration-gap);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: var(--corner-thickness) solid var(--deco-color);
  border-right: var(--corner-thickness) solid var(--deco-color);
  width: 25px;
  height: 25px;
  top: var(--decoration-gap);
  right: var(--decoration-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-left: var(--corner-thickness) solid var(--deco-color);
  border-bottom: var(--corner-thickness) solid var(--deco-color);
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
  width: 25px;
  height: 25px;
}

.main-content {
  margin-left: var(--decoration-gap);
  margin-right: var(--decoration-gap);
}

.content-block {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

.content-block_why {
  margin-top: var(--section-child-margin);
}

.content-block_what {
  margin-top: 50px;
}

.content-block_how {
  margin-top: 50px;
}

.advice_title_main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-block {
  margin-top: 50px;
}

.image-gallery {
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr;
}

.gallery-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery-item {
  padding: 0;
  list-style-type: none;
  margin: 0 0 10px 0;
}

.footer {
  height: max(100vh, var(--min-height));
  position: relative;
}

.block-question {
  width: 100%;
  color: var(--question-color);
  line-height: 1.3;
  font-size: var(--regular-font-size);
}

.main-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  margin-left: var(--header-margin-left);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer-main-title {
  display: flex;
  align-items: center;
    height: 100%;
  margin-top: 32px;
}

.card-title {
  background-color: var(--answer-title-background-color);
  color: var(--answer-title-color);
  font-size: inherit;
}

.card-text {
  color: var(--answer-text-color);
  font-weight: normal;
}

.info-card {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  gap: 10px;
}

.advice-subtitle {
  line-height: 1.3;
  font-size: var(--regular-font-size);
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  color: var(--advice-title-color);
  background-color: var(--advice-title-background-color);
  font-weight: normal;
}

.text-link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.rec_empty {
  display: flex;
  justify-self: end;
  width: 10px;
  line-height: 25px;
  color: var(--accent-color);
  position: absolute;
  text-transform: uppercase;
  top: calc( var(--decoration-gap) - 10px) ;
  right: calc( var(--decoration-gap) + 50px);
}

.rec_empty::before {
  content: 'REC';
  color: var(--rec-color);
  margin-top: 10px;
  font-weight: normal;
  display: none;
  margin-right: 15px;
}

.rec_empty::after {
  content: '';
  position: absolute;
  display: none;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--rec-color);
  margin-left: 42px;
  margin-top: 18px;
  inline-size: 9px;
  block-size: 9px;
}

.picture_question {
  margin-bottom: 10px;
}

@media (width >= 768px) {
  .main-title {
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
  }

  .rec_empty {
    --rec_empty_x_pos: 35px;
  }

  .header {
    --min-height: 1024px;
    margin-block-end: 40px;
  }

  .image-gallery {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .gallery-item {
    margin: 0;
  }

  .sunset_pic {
    grid-column: 1 / 3;
  }

  .ice-cream_pic {
    grid-column: 3 / 4;
    grid-row:  1 / 3;
  }

  .tape_pic {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books_pic {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street_pic {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .header-desc {
    width:  calc(50% - 20px);
    justify-self: right;
  }

  .block-question_what {
    margin-top: 30px;
    width: 30%;
  }

  .block-question_how {
    margin-top: 20px;
  }

  .content-block_why {
    grid-template-columns: 1fr 2fr;
    display: grid;
    gap: 20px;
    grid-template-areas:
    'block-question_why why-answers';
  }

  .content-block_what {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr;
  }

  .content-block_how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 61px;
    gap: 20px;
    grid-template-areas:
    'block-question_how how-answers';
  }

  .gallery-block {
    margin-top: 78px;
  }

  .picture_question {
    margin-bottom: 0;
    grid-column: 1 / 4;
  }

  .footer-main-title {
    justify-content: center;
    margin-top: 62px;
  }

  .footer {
    --min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .rec_empty {
    --rec_empty_x_pos: 40px;
  }

  .header {
    margin-block-end: 0;
    --min-height: 768px;
  }

  .footer {
    --min-height: 768px;
    margin-top: 50px;
  }

  .main-title {
    margin-left: 0;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .content-block_why {
    gap: 10px;
    margin-top: 40px;
  }

  .block-question_why {
    margin-top: 20px;
  }

  .why-answers {
    margin-top: 0px;
  }

  .content-block_what {
    margin-top: 50px;
  }

  .header-desc {
    margin-top: 20px;
  }

  .header__theme-menu {
    height: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .div_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    grid-template-rows: auto;
    grid-template-areas:
      "block-question_what ."
      "what-answers what-answers";
  }

  .block-question_what {
    display: block;
    grid-area: block-question_what;
    width: 30%;
  }

  .what-answers {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 77px;
    gap: 20px;
    grid-area: what-answers;
    display: grid;
  }

  .content-block_how {
    gap: 10px;
  }

  .footer-main-title {
    margin-top: 50px;
  }
}