:root {
  --basic-pink: #FF8DCB;
  --title-pink: #FFC2E6;
  --real-red: #ff0070;
  --almost-black: #353430;
  --approximately-black: #000028;
  --almost-white-background: #FFF1F7;


  --regular-font-size: 18px;
  --regular-line-height: 100%;
  --regular-gap: 10px;
  --decoration-gap: clamp(10px , 2.65vw , 20px);
  --header-margin-left: min(10px , 20px - 2.6vw);
  --min-height: 668px;
  --section-child-margin: 40px;
  --rec_empty_x_pos: 30px;
  --corner-thickness: 1px;
  --project-font-family: "IBM Plex Mono", "Arial", sans-serif;
}